#character_tools {

}

#select_character {
	
/*	margin-left:20px;
	margin-right:10px; */
	
	margin-top:5px;
}


#select_tool {
	
	margin-top:5px;
}

.store_item {
	border: none;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #729371; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #F0C20A; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.store_item .item_icon {


	margin-left:12px;
}

.vertical_divider {
	float:right;
}

.character, .tool {
	padding:5px;
	
}


.char, .tools {
	padding:14px;

}

.character img, .tool img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.char img, .tools img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#pagination {
	padding: 10px 0 20px 0;
	}
	#pagination a, #pagination strong {
	font-size:12px;
	text-decoration:none;
	color:#262626 !important;
	border-radius:3px;
	background-color:#cdcdcd;
	border:1px solid #8e8e8e;
	box-shadow:0px 1px 0px #fff inset, 0px 1px 0px #fff;
	padding:7px 8px;
	background-image: linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -o-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -moz-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -webkit-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -ms-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #CDCDCD),
		color-stop(1, #DCDCDC)
	);
	text-align:center;
	}
#pagination strong {
	background: rgba(0,0,0,.2);
	}

	 .under-name {
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	letter-spacing: normal;
	margin-left:12px;

}

	#pagination a {
		}
		#pagination a:hover {
		box-shadow:0px 1px 0px #7dc2ea inset, 0px 1px 0px #fff;
		border:1px solid #305e79;
		color:#112e3f;
		text-shadow:1px 1px 0px #2fa4d1;
		background-color:#1d6d9c;
		background-image: linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
		background-image: -o-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
		background-image: -moz-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
		background-image: -webkit-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
		background-image: -ms-linear-gradient(bottom, #1D6D9C 0%, #3D92C4 100%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0,#1D6D9C),
			color-stop(1,#3D92C4));
		}

.character .character_name, .tool ,.tools .tool_name {
	font-weight:bold;
	font-size:14px;
}
.character .character_buttons, .tool ,.tools .tool_buttons {
	float:right;
	margin-top:12px;
	margin-left:3px;
}

.select_tools {
	margin-bottom:10px;
}

.select_character, .select_tool {
	overflow:hidden;
	opacity:0.5;
	transition:0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	-o-transition:0.3s all;
	-ms-transition:0.3s all;
}

.select_character:hover, .select_tool:hover {
	opacity:1;
}

.select_character .character_buttons, .select_tool .tool_buttons {
	
		opacity:1;
	transition:0.3s all;
	-webkit-transition:0.3s all;
	-moz-transition:0.3s all;
	-o-transition:0.3s all;
	-ms-transition:0.3s all;
}

.select_character:hover .character_buttons, .select_tool:hover .tool_buttons {
	margin-left:0px;
	opacity:1;
}
.active_tool {
	opacity: 1 !important;
	}
	.active_tool .tool_buttons {
	opacity: 1 !important;
	margin-left:0px;
	}